button {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.blackButton {
    background-color: #000000;
}
.yellowButton {  
    background-color: #FFC700;
}

