.button {
    background-color: #FFC700;
    color: black;
    padding: 0.8rem 0.2rem;
    font-size: 1.5em;
    font-weight: 700;
    width: 80%;
    text-align: center;
    border-radius: 0.75em;
    text-decoration: none;

}

    // background-color: #FFC700;
    // color: Black;
    // padding: 1rem 0.2rem;
    // font-size: 1.5em;
    // font-weight: 60;
    // width: 60%;
    // display: flex;
    // text-align: center;